@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply text-base leading-base text-neutral
    }
}

@layer components {
    .prose {
        @apply text-base leading-base text-neutral
    }

    .prose > p > a {
        @apply font-normal text-base leading-base text-neutral
    }
}

/* Google maps style required */
.pac-container {
    z-index: 1300;
    border: 1px solid #f0f0f0;
    background: #ffffff;
    box-shadow: none;
    
}

/* Tweak accordion on safari */
summary::-webkit-details-marker { 
    display: none; 
}

.magezon-slide-heading .magezon-heading > span {
    line-height: 40px;
}

.swift_mobile-banner .magezon-slide-heading .magezon-heading > span {
    line-height: 28px;
}
.swift_small-banners .mgz-img-content {
    margin-top: 16px;
}
.swift_product-slider .swift_title-product-slider > div > div > .mgz-row {
    border-bottom: 1px solid #EBECEE;
    margin-bottom: 0;
}
.swift_product-slider .prose a {
    text-decoration: none;
}
.swift_product-slider .prose a span {
    color: #171B22 !important;
}
.swift_product-slider .container-scroll-arrow button {
    background: rgba(18, 18, 18, 0.40);
}
.swift_product-slider .container-scroll-arrow button:hover {
    background: rgba(18, 18, 18, 0.60);
}
.swift_product-slider .container-scroll-arrow button span {
    justify-content: center;
}
.swift_product-slider .container-scroll-arrow button span svg {
    color: #ffffff;
    height: 15px !important;
    width: 15px !important;
}
.swift-3column .md\:basis-9\/12 {
    flex-basis: 76.5%;
}
.swift-3column .md\:basis-3\/12 {
    flex-basis: 20%;
}
@media only screen and (max-width:1280px) {
    .swift-small-banners-category .mgz-column:nth-child(5) {
        display: none;
    }
    .swift-small-banners-category .mgz-column:nth-child(6) {
        display: none;
    }
    .swift_small-banners .mgz-img-content {
        margin-top: 0;
    }
   
}
@media only screen and (min-width: 768px) and (max-width:1280px) {
    .swift-small-banners-category .mgz-column {
        flex-basis: 25%;
    }
    .swift-small-banners-category .mgz-img-content-title {
        font-size: 16px !important;
    }
    .swift_title-product-slider h2 span {
        font-size: 24px;
    }
    .swift-3column .mgz-img-content {
        padding: 15px 0 !important;
    }
    .swift-3column .mgz-img-content-title {
        font-size: 16px !important;
        font-weight: 700 !important;
    }
}
@media only screen and (max-width: 767px)  {
    .swift-small-banners-category .mgz-column {
        flex-basis: 50%;
    }
    .swift-small-banners-category .mgz-column .image-container {
        width: 100% !important;
    }
    .swift-small-banners-category .mgz-column .image-container img {
        width: 100%;
    }
    .swift-small-banners-category .mgz-img-content-title {
        font-size: 14px !important;
    }
    .swift-small-banners-category .mgz-element-inner {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }
    .swift_title-product-slider h2 span {
        font-size: 18px;
    }
    .swift-3column .md\:basis-9\/12 {
        flex-basis: 100%;
    }
    .swift-3column .md\:basis-3\/12 {
        flex-basis: 100%;
        flex-direction: row;
    }
    .swift-3column .md\:basis-3\/12 > div:first-child {
        width: 50%;
    }
    .swift-3column .md\:basis-3\/12 > div:last-child {
        width: 50%;
    }
    .swift-3column .mgz-img-content-title {
        font-size: 20px !important;
        font-weight: 700 !important;
    }
} 